* {
    margin: 0;
    padding: 0;
    outline: 0;
}

body{
    background-color: #eeeeee;
    width: 800px;
    display: flex;
    flex-direction: column;
    margin: auto;
}

/* HEADER */
header{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
    background-color: #ddd;
    display: flex;
    padding: 20px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

header .logo{
    width: 300px;
    padding: 5px;
    background-color: white;
    text-align: center;
}

header .topMenu ul{
    display: flex;
    list-style: none;
}

header .topMenu ul li{
    padding: 20px;
    background: orange;
    margin: 0 5px;
    border-radius: 5px;
    font-weight: bold;
}

/* MAIN */
main{
    display: flex;
    margin-bottom: 5px;
}

main section{
    flex: 1;
    margin-right: 10px;
    overflow: auto;
}
main section article{
    background-color: #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
main section article h1{
    margin: 10px 0;
}
main section article h5{
    margin: 10px 0;
}
main section article .created_at{
    color: coral;
}
main section article p{
    color: #333;
    text-align: justify;
}

main aside{
    background-color: #ddd;
    width: 200px;
    min-height: 500px;
    padding: 10px;
}

/* FOOTER */
footer{
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    display: flex;
    background-color: #ddd;
    padding: 20px;
    align-items: center;
    justify-content: center;
}